<br>
<h2>Available Properties</h2>
<hr>
<br>

<% @properties.each do |property| %>
  <%= render 'property', property: property %>
<% end %>

<!--   <%= render @properties %> -->

<%= link_to "Add new property", new_property_path %>

